html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #CCC;
  font-family: Calibri, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
